# קבצי הרצה ותוצרים של Java
*.class
*.log

# תיקיית הפלט של VS Code (שם נשמר הקוד המקומפל)
bin/
out_test/

# תוצרי בנייה של Maven (חשוב מאוד!)
target/

# הגדרות סביבת העבודה של VS Code
.vscode/

# סביבה וירטואלית של פייתון (אם יש לך בפרויקט)
.venv/
venv/
ENV/

# קבצי מערכת הפעלה זמניים
.DS_Store
Thumbs.db
.fake